<section>
	<h1>FAQ</h1>
</section>

<!-- TOC -->
<section>
	<ul>
	  <li><a href="#General">General Questions</a></li>
	  <li><a href="#Account">Account</a></li>
          <li><a href="#OPM">OPM Files</a></li>
	</ul>
</section>

<!-- Sections with answers to "General Questions" -->
<section>
	<a href="#" name="General">&nbsp;</a>
	<h2>Account</h2>
	<ul>
	  <li><a href="#About">What is OPAR?</a></li>
	</ul>
	<p>
                <a href="#" name="About">What is OPAR?</a>
	</p>
	<p>
                OPAR is an archive of packages that extend the <a href="http://www.otrs.org">OTRS</a> software.
	</p>
	<p>
		Using OTRS' smart packaging tool, OPM - OTRS package manager, extensions can be built by any 
		developer, packaged and passed on to other users. Through packaging of own changes to the 
		system, the system is then more audit proof. Additionally, the package system backs up all 
		files changed, to make sure that an uninstall is successful.
	</p>
</section>


<!-- Sections with answers -->
<section>
	<a href="#" name="Account">&nbsp;</a>
	<h2>Account</h2>
	<ul>
	  <li><a href="#Account">Username</a></li>
	</ul>
	<p>
                <a href="#" name="username">Which characters are allowed in usernames?</a>
	</p>
	<p>
                You can only use ASCII letters A - Z and a - z and it must be at least 3 characters long.
	</p>
</section>

<!-- Sections with answers -->
<section>
	<a href="#" name="OPM">&nbsp;</a>
	<h2>OPM files</h2>
	<ul>
	  <li><a href="#Account">Naming schema for OPM files</a></li>
          <li><a href="#OPM">How to create a opm file?</a></li>
          <li><a href="#NotInIndex">I've uploaded a new package, but it can't be found via package search. What went wrong?</a></li>
	</ul>
	<p>
	
	</p>
</section>