<section>
	These people contributed code to OPAR (not packages) - alphabetical order:
	<ul>
	  <li>Ren&eacute;e B&auml;cker, <a href="http://www.perl-services.de">Perl-Services.de</a></li>
	  <li>Martin Balzarek, <a href="http://www.cape-it.de">c.a.p.e IT</a></li>
	  <li>Michiel Beijen, <a href="http://www.otrs.com/en/">OTRS Group</a></li>
	  <li>Tom Kirchner, <a href="http://www.perl-services.de">Perl-Services.de</a></li>
	</ul>
</section>