<section>
	These people contributed code to OPAR (not packages):
	<ul>
	  <li>Tom Kirchner, <a href="http://www.perl-services.de">Perl-Services.de</a></li>
	  <li>Ren&eacute;e B&auml;cker, <a href="http://www.perl-services.de">Perl-Services.de</a></li>
	</ul>
</section>