<section>
	<h1>Comments for <emph><%= NAME %></emph></h1>
</section>

<section class="pages">
	<span>Page</span>
	<%LOOP PAGES %>
		<%IF PAGE %>
			<a href="<%= __SCRIPT__ %>/packages/list/<%= PAGE %>" class="button shallow"><%= PAGE %></a>
		<%ELSE %>
			...
		<%/IF %>
	<%/LOOP %>
</section>

<%IF HAS_COMMENTS %>
<section id="comments">
	<%LOOP COMMENTS %>
	<div>
		<div>
			<h2>
				<a href="<%= WEBSITE %>"><%= USER %></a>
				<span><%IF DATE %>published on <%= DATE %><%ELSE%>unpublished<%/IF%> / for version <i><%= VERSION %></i></span>
				<div>
					<span class="score-<%= RATING %>"></span>&nbsp;
				</div>
			</h2>
			<h3><%= HEAD %></h3>
			<p>
				<%= TEXT %>
			</p>
			<p class="right">
			<%IF IS_PUBLISHED %>
					<a href="/bin/admin.cgi/package/unpublish_comment/<%= ID %>" class="button">Un-Publish comment</a>
				<%ELSE%>
					<a href="/bin/admin.cgi/package/publish_comment/<%= ID %>" class="button">Publish comment</a>
				<%/IF%>
			</p>
		</div>
	</div>
	<%/LOOP %>
</section>
<%/IF %>