<html>
	<head>
		<title>OPAR</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css"/>
		<link rel="stylesheet" type="text/css" href="/css/form.css"/>
		<script type="text/javascript" src="/js/prototype.js"></script>

		<!--[if lte IE 8]>
		<script type="text/javascript" src="/js/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="outer">
	
			<header>
				<h1>
					<a href="<%= __INDEX__ %>" class="home">OPAR</a>
					<span>OTRS Package Archive</span>
					<span class="right">Logged in as <%= __LOGGEDIN__ %></span>
				</h1>
				<p>
					Browseable collection of
					plugins for the popular OTRS software.
				</p>
			</header>
			
			<noscript>
			    <div class="message error">
			        JavaScript is disabled in your browser. To use all functions
			        of this website, please enable JavaScript.
			    </div>
			</noscript>
			
			<!--
			<section class="menu">
				<ul>
					<li><a href="<%= __SCRIPT__ %>/package/upload">...</a></li>
				</ul>
			</section>
			-->

			<%LOOP NOTIFICATIONS %>
			  <%INCLUDE_VAR include %>
			<%/LOOP %>
			<%INCLUDE_VAR BODY %>
			
			<footer>
				&copy; 2010 by 
				<a href="<%= __INDEX__ %>/static/team">OPAR Team</a> --
				<a href="<%= __INDEX__ %>/static/imprint">Imprint</a> -
				<a href="<%= __INDEX__ %>/feedback">Feedback</a>
			</footer>
	
		</div>
		<script type="text/javascript" src="/js/OPAR.Config.js"></script>
		<script type="text/javascript" src="/js/OPAR.Package.js"></script>
		<script type="text/javascript" src="/js/OPAR.User.js"></script>
		<script type="text/javascript">
		//<![CDATA[
		    OPAR.Config.Set('BaseURL', '<%= __SCRIPT__ %>');
		//]]>
		</script>
	</body>
</html>
