Ich bin im Adminbereich...
<br /><br />
... <a href="<%= __SCRIPT__ %>/authors">Autoren</a><br />
... <a href="<%= __SCRIPT__ %>/packages">Pakete</a><br />
... <a href="<%= __SCRIPT__ %>/misc">Verschiedenes</a>