<section>
	<h1>Packages</h1>
</section>

<section class="pages">
	<span>Page</span>
	<%LOOP PAGES %>
    <%IF PAGE %>
			<a href="<%= __SCRIPT__ %>/packages/list/<%= PAGE %>" class="button shallow"><%= PAGE %></a>
    <%ELSE %>
      ...
    <%/IF %>
	<%/LOOP %>
</section>

<table id="package_list">
  <tr>
    <th>Package Name</th>
    <th>Version</th>
    <th>Date</th>
    <th>State</th>
    <th>My Role</th>
    <th>Action</th>
  </tr>
  <%LOOP PACKAGES %>
  <tr>
    <td><%= NAME %></td>
    <td><%= VERSION %></td>
    <td><%= DATE %></td>
    <td><%= STATE %></td>
    <td><%= MYROLE %></td>
    <td>
    	<%IF DELETION %>
	      <a href="<%= __SCRIPT__ %>/package/undelete_package/<%= PACKAGE_ID %>" class="button">Undelete</a>  		
  		<%ELSE%>
	      <a href="<%= __SCRIPT__ %>/package/delete_package/<%= PACKAGE_ID %>" class="button">Delete</a>
  		<%/IF%>
  		<a href="<%= __SCRIPT__ %>/package/comments/<%= NAME %>" class="button">Comments</a>
      <!--
      <a href="<%= __SCRIPT__ %>/package/maintainer/<%= NAME %>-<%= VERSION %>" class="button">Co-Maintainer</a>
			-->
    </td>
  </tr>
  <%/LOOP %>
</table>
