<section>
	<h1>Admin area</h1>
</section>

<section class="menu">
	<ul>
		<li class="current"><a href="<%= __SCRIPT__ %>/authors">Authors</a>
		<li><a href="<%= __SCRIPT__ %>/packages">Packages</a>
		<li><a href="<%= __SCRIPT__ %>/misc">Miscellaneous</a>
	</ul>
</section>
