<section>
	<h1>Admin area ::
		<a href="<%= __SCRIPT__ %>/authors">Authors</a> /
		<a href="<%= __SCRIPT__ %>/packages">Packages</a> /
		<a href="<%= __SCRIPT__ %>/misc">Miscellaneous</a>
	</h1>
</section>
