<form action="<%= __SCRIPT__ %>/do_login" method="post">
    <fieldset>
        User: <input type="text" name="user"/><br />
        Passwd: <input type="password" name="password" />
    </fieldset>
    <button type="submit" value="Einloggen">Einloggen</button>
</form>