<section>
	<h1>Profile</h1>
</section>

<section>		
	<div>
		<form action="/author/profile/save" method="post">
			<dl>
				<dt><label for="realname">Realname</label></dt>
				<dd>
					<span id="realname"><%= realname %></span>&nbsp;
				</dd>
					
				<dt><label for="user_name">Username</label></dt>
				<dd>
					<span id="user_name"><%= user_name %></span>&nbsp;
				</dd>
	
				<dt><label for="mail">E-mail</label></dt>
				<dd>
					<span id="mail"><%= mail %></span>&nbsp;
				</dd>
	
				<dt><label for="website">Website</label></dt>
				<dd>
					<span id="website"><%= website %></span>&nbsp;
				</dd>
		
				<dt class="empty">&nbsp;</dt>
				<dd class="right">
					<button type="button" onclick="window.location.href='/author/profile/edit'" value="Edit profile">Edit profile</button>
				</dd>
			</dl>
		</form>
	</div>
</section>
