<section>
	<h1>Versions of Package <i><%= PACKAGE_NAME %></i></h1>
</section>

<table id="version_list">
  <tr>
    <th>Version</th>
    <th>Date</th>
    <th>Action</th>
  </tr>
  <%LOOP VERSIONS %>
  <tr>
    <td><%= VERSION %></td>
    <td><%= DATE %></td>
    <td>
      <span class="<%= CLASS %>" id="span_<%= PACKAGE_ID %>">
        scheduled for deletion on
        <span id="deletion_date_<%= PACKAGE_ID %>"><%= DELETION_DATE %></span>
      </span>
      <a href="#"
         id="delete_link_<%= PACKAGE_ID %>"
         onclick="OPAR.Package.<%= DELETION_PRE %>Delete( '<%= PACKAGE_ID %>' );" class="button">(un-)delete</a>
    </td>
  </tr>
  <%/LOOP %>
</table>