<section>
	<h1>Login</h1>
</section>

<section id="login">		
	<div>
		<form action="<%= __SCRIPT__ %>/do_login" method="post">
	    <fieldset>
				<dl>
					<dt>Username</dt>
					<dd>
						<input type="text" name="user"/>
					</dd>
	
					<dt>Password</dt>
					<dd>
						<input type="password" name="password" />
						<a href="<%= INDEX %>/registration/forgot_password">Forgot your password?</a>
					</dd>
	
					<dt class="empty">&nbsp;</dt>
					<dd class="right">
						<button type="submit" value="Einloggen">Einloggen</button>
					</dd>
				</dl>
			</fieldset>
		</form>
	</div>
</section>
