<h2>Welcome to OPAR author portal</h2>

You can do the following things:

<ul>
  <li><a href="<%= __SCRIPT__ %>/package/upload">Upload a new opm file</a></li>
  <li><a href="<%= __SCRIPT__ %>/package/list">Package list</a></li>
  <li><a href="<%= __SCRIPT__ %>/profile">Edit your profile</a></li>
  <li>Administer the comments</li>
</ul>