			<section>
			  <%IF NAME %>
				<h1>Comments for <i><%= NAME %></i></h1>
				<%ELSE%>
				<h1>Comments for all your packages</h1>
				<%/IF%>
			</section>
		
			<%IF HAS_COMMENTS %>
			<section id="comments">
				<%LOOP COMMENTS %>
				<div>
					<div>
						<h2>
							<a href="<%= WEBSITE %>">Mr. Y</a>
							<span><%IF DATE %>published on <%= DATE %><%/IF%></span>
							<div>
								<span class="score-<%= SCORE %>"></span>&nbsp;
							</div>
						</h2>
						<p>
							<%= COMMENT %>
						</p>						
						<p class="right">
						<%IF IS_PUBLISHED %>
                                                    <a href="/author/package/comment/unpublish/<%= COMMENT_ID %>" class="button">Un-Publish comment</a>
						<%ELSE%>
						    <a href="/author/package/comment/publish/<%= COMMENT_ID %>" class="button">Publish comment</a>
						<%/IF%>
                                                <a href="/author/package/comment/delete/<%= COMMENT_ID %>" title="Delete comment"><img src="/img/delete.png" alt="Delete Comment"></a>
						</p>
					</div>
				</div>
				<%/LOOP %>
			</section>
			<%/IF %>
