<section>
	<h1>Upload OPM-File</h1>
	<p>Here you can upload an opm file.</p>
</section>

<section>		
	<div>
		<form action="<%= __SCRIPT__ %>/package/do_upload" method="post" enctype="multipart/form-data">
  		<input type="hidden" name="formid" value="<%= FORMID %>" />
			<dl>
				<dt>File</dt>
				<dd><input type="file" name="opm_file" id="opm_file" class="px290" /></dd>
		
				<dt class="empty">&nbsp;</dt>
				<dd class="right"><button type="submit" name="submit" value="Upload">Upload</button></dd>
			</dl>
		</form>
	</div>
</section>
