<section>
	<h1>Packages</h1>
</section>

<section class="pages">
	<span>Page</span>
	<%LOOP PAGES %>
    <%IF PAGE %>
        <a href="/author/package/list/<%= PAGE %>" class="button shallow"><%= PAGE %></a>
    <%ELSE %>
        ...
    <%/IF %>
	<%/LOOP %>
</section>

<table id="package_list">
  <tr>
    <th>Package Name</th>
    <th>Version</th>
    <th>Date</th>
    <th>Downloads</th>
    <th>Action</th>
  </tr>
  <%LOOP PACKAGES %>
  <tr>
    <td><%= NAME %></td>
    <td><%= VERSION %></td>
    <td><%= DATE %></td>
    <td><%= DOWNLOADS %></td>
    <td>
      <a href="/author/package/comments/<%= NAME %>" class="button">Comments</a>
      <a href="/author/package/versions/<%= NAME %>" class="button">Versions</a>
      <a href="/author/package/maintainer/<%= NAME %>-<%= VERSION %>" class="button">Co-Maintainer</a><br/><br/>
      <a href="/author/package/reanalyze/<%= PACKAGE_ID %>" class="button">Reanalyze</a>
    </td>
  </tr>
  <%/LOOP %>
</table>
