<h2>Packages xx</h2>

<%LOOP PAGES %>
    <%IF PAGE %>
        <a href="<%= __SCRIPT__ %>/packages/list/<%= PAGE %>"><%= PAGE %></a>
    <%ELSE %>
        ...
    <%/IF %>
<%/LOOP %>

<table id="package_list">
  <tr>
    <th>PackageNamex</th>
    <th>Version</th>
    <th>Date</th>
    <th>State</th>
    <th>My Role</th>
    <th>Action</th>
  </tr>
  <%LOOP PACKAGES %>
  <tr>
    <td><%= NAME %></td>
    <td><%= VERSION %></td>
    <td><%= DATE %></td>
    <td><%= STATE %></td>
    <td><%= MYROLE %></td>
    <td>
      <a href="<%= __SCRIPT__ %>/package/versions/<%= NAME %>">Versions</a>
      <a href="<%= __SCRIPT__ %>/package/maintainer/<%= NAME %>">Co-Maintainer</a>
    </td>
  </tr>
  <%/LOOP %>
</table>