<section>
	<h1>Welcome to OPAR author portal</h1>
</section>

<section class="menu">
	<ul>
		<li><a href="<%= __SCRIPT__ %>/package/upload">Upload a new opm file</a>
		<li><a href="<%= __SCRIPT__ %>/package/list">Package list</a>
		<li><a href="<%= __SCRIPT__ %>/profile">View/Edit your profile</a>
		<li><a href="">Administer the comments</a>
	</ul>
</section>
