<section>
	<h1>OPAR - a CPAN for OTRS packages</h1>
</section>

<!--
<section>
	<form>
  	Search
	</form>
</section>
-->

<section class="menu">
	<ul>
		<li><a href="<%= __SCRIPT__ %>/authors">List of Authors</a>
	</ul>
</section>
