						
			<section>
				<h1>Register &rarr; Login</h1>
			</section>

			<section id="register">		
				<div>
					<form action="<%= __SCRIPT__ %>/registration/send" method="post">
						<input type="hidden" name="formid" value="<%= FORMID %>" />
						<dl>
							<dt>Name</dt>
							<dd>
								<input type="text" name="username"/>
								<a href="#"
								   onclick="OPAR.Help.Show('username_help', 'registration.username');" 
								   onmouseout="OPAR.Help.Hide('username_help');"
								   class="help">?</a><br />
								<span id="username_help"></span>
							</dd>
	
							<dt>Email</dt>
							<dd>
								<input type="text" name="email"/>
								<a href="#"
								   onclick="OPAR.Help.Show( 'email_help', 'registration.email');"
								   onmouseout="OPAR.Help.Hide( 'email_help' );"
								   class="help">?</a>
								<br /><span id="email_help"></span>
								<input type="text" name="emailcheck"/> (repeat)
							</dd>
							
							<dt class="empty">&nbsp;</dt>
							<dd><%= CAPTCHA ESCAPE=0 %></dd>
	
							<dt class="empty">&nbsp;</dt>
							<dd class="right">
								<input type="submit" value="Register"/>
							</dd>
						</dl>
					</form>
				</div>
			</section>
