<section>		
	<div>
		<form action="<%= __SCRIPT__ %>/search" method="post">
			<dl>
				<dt>Keywords</dt>
				<dd>
					<input type="text" id="query" name="search_term" />
				</dd>
	
				<dt class="empty">&nbsp;</dt>
				<dd class="right">
					<input type="submit" value="Search"/>
				</dd>
			</dl>
		</form>
	</div>
</section>

