<section>		
	<div>
		<form action="/repo/<%= REPO_ID %>/save" method="post">
                        <input type="hidden" name="formid" value="<%= FORMID %>" />
			<dl>
				<dt>Email</dt>
				<dd>
					<input type="text" id="email" name="email" value="<%= EMAIL %>" />
				</dd>

				<dt>OTRS Version</dt>
				<dd>
                                        <select name="framework" id="framework">
                                            <%LOOP name="repo_frameworks" %>
					        <option value="<%= VERSION %>" <%= SELECTED %>><%= VERSION %></option>
                                            <%/LOOP %>
                                        </select>
				</dd>

				<dt>Packages</dt>
				<dd>
                                    <input type="text" id="package_search" name="package_search" />
                                    <ul id="package_list">
                                        <%LOOP name="PACKAGES" %>
                                        <li id="package_<%= NAME_ID %>">
                                            <input type="hidden" name="package_<%= NAME_ID %>" value="<%= NAME_ID %>" />
                                            <%= NAME %>
                                            <img src="/img/delete.png" onclick="delete_package(<%= NAME_ID %>)" alt="delete" title="delete package" />
                                        </li>
                                        <%/LOOP %>
                                    </ul>
				</dd>

				<dt class="empty">&nbsp;</dt>
				<dd class="right">
					<input type="submit" value="Save"/>
				</dd>
			</dl>
		</form>
	</div>
</section>

<script type="text/javascript">
    var options = {
        script: function (input) {
            return '<%= __HOST__ %>/repo/search?framework=' + document.getElementById('framework').value
                + "&term=" + input;
        },
        varname: "term",
        json: true,
        delay: 100,
        callback: function (opm) {
           add_package( opm.id, opm.value ); 
        },
        maxresults: 35
    };

    new bsn.AutoSuggest('package_search', options);

    function add_package ( id, name ) {
        $('package_list').insert(
            "<li id=\"package_" + id + "\"> " +
            "    <input type=\"hidden\" name=\"package_" + id + "\" value=\"" + id + "\" /> " + 
            name +
            "    <img src=\"/img/delete.png\" onclick=\"delete_package(" + id + ")\" alt=\"delete\" title=\"delete package\" /> "  +
            "</li>"
        );
    }

    function delete_package ( id ) {
        $('package_' + id).remove();
    }
</script>
