						
			<section>
				<h1>Change Password</h1>
			</section>

			<section id="register">		
				<div>
					<form action="<%= __SCRIPT__ %>/registration/confirm_passwd" method="post">
						<input type="hidden" name="formid" value="<%= FORMID %>" />
						<input type="hidden" name="token" value="<%= TOKEN %>" />
						<dl>
							<dt>New Password</dt>
							<dd>
								<input type="password" name="password"/>
							</dd>
							
							<dt>New Password<br />(check)</dt>
							<dd>
								<input type="password" name="password_check"/>
							</dd>
							
							<dt class="empty">&nbsp;</dt>
							<dd><%= CAPTCHA ESCAPE=0 %></dd>
	
							<dt class="empty">&nbsp;</dt>
							<dd class="right">
								<input type="submit" value="Change passwort"/>
							</dd>
						</dl>
					</form>
				</div>
			</section>
