<section>
  	Search for OTRS packages
	<form action="<%= __SCRIPT__ %>/search" method="post">
		<input type="text" id="query" name="search_term" />
		<input type="submit" value="Search"/>
	</form>
</section>
