			<section>
				<h1><%= NAME %></h1>
			</section>

			<section id="package">				
				<div>
					<dl>
						<dt>Version</dt>
						<dd><%= VERSION %></dd>

						<%IF HAS_OTHER_VERSIONS %>
	        					<dt>Other Versions</dt>
							<dd>
								<%LOOP OTHER_VERSIONS %>
        							<a href="/dist/<%= NAME ESCAPE=URL %>-<%= MAX_VERSION ESCAPE=URL %>"><%= MAX_VERSION %></a>,
								<%/LOOP %>
							</dd>
                                                <%/IF %>

						<dt>Uploaded by/on</dt>
						<dd><%= AUTHOR %> on <b><%= DATE %></b></dd>

						<dt>Framework</dt>
						<dd><%= FRAMEWORK %></dd>

						<dt>Links</dt>
						<dd>
							<a href="/package/download/<%= PACKAGE_ID %>" class="download">Download</a>
							<%IF WEBSITE %><a href="<%= WEBSITE %>" class="web">Website</a><%/IF %>
							<%IF BUGTRACKER %><a href="<%= BUGTRACKER %>" class="bugs">Bugtracker</a><%/IF %>
						</dd>

						<dt>Description</dt>
						<dd>
							<%= DESCRIPTION %>
						</dd>

						<%IF HAS_DEPENDENCIES %>
						<dt>Dependencies</dt>
						<dd>
							<ul>
								<%LOOP DEPENDENCIES %><li><%= NAME %></li>
								<%/LOOP %>
							</ul>
						</dd>
						<%/IF %>
<!--
						<dt>OPAR Kwalitee (OK)</dt>
						<dd class="kwalitee">
							<span class="<%= OK_GRADE %>">
								<a href="/package/ok/<%= PACKAGE_ID %>">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								</a>
							</span>
						</dd>
-->
					</dl>
				</div>
			</section>
			
			<section>
				<p class="right"><a href="/package/comment/<%= NAME %>-<%= VERSION %>" class="button">Rate/comment this package</a></p>
			</section>
			
			<%IF DOCUMENTATION %>
			<section>
				<div id="documentation"><%= DOCUMENTATION ESCAPE=0 %></div>
			</section>
			<%/IF %>

			<%IF HAS_COMMENTS %>
			<section>
				<h2>Comments</h2>
			</section>

			<section id="comments">
				<%LOOP COMMENTS %>
                                <%IF IS_PUBLISHED %>
				<div>
					<div>
						<h2>
							<a href="<%= WEBSITE %>"><%= USERNAME %></a>
							<span>on <%= DATE %></span>
							<span>about version <%= VERSION %></span>
							<div><span class="score-<%= SCORE %>"></span></div>
						</h2>
						<p>
							<%= COMMENT %>
						</p>						
					</div>
				</div>
				<%/IF %>
				<%/LOOP %>
			</section>
			<%/IF %>
