						
			<section>
				<h1>Forgot Password</h1>
			</section>

			<section id="register">		
				<div>
					<form action="<%= __SCRIPT__ %>/registration/send_passwd" method="post">
						<input type="hidden" name="formid" value="<%= FORMID %>" />
						<dl>
							<dt>Name</dt>
							<dd>
								<input type="text" name="username"/>
								<a href="#" onclick="OPAR.Global.ShowHelp('registration.username');" class="help">?</a><br />
							</dd>
							
							<dt class="empty">&nbsp;</dt>
							<dd><%= CAPTCHA ESCAPE=0 %></dd>
	
							<dt class="empty">&nbsp;</dt>
							<dd class="right">
								<input type="submit" value="Forgot passwort"/>
							</dd>
						</dl>
					</form>
				</div>
			</section>
