						
			<section>
				<h1>Register &rarr; Login</h1>
			</section>

			<section id="register">		
				<div>
					<form action="<%= __SCRIPT__ %>/registration/send" method="post">
						<input type="hidden" name="formid" value="<%= FORMID %>" />
						<dl>
							<dt>Name</dt>
							<dd>
								<input type="text" name="username"/>
								<a href="#" onclick="OPAR.Global.ShowHelp('registration.username');" class="help">?</a><br />
							</dd>
	
							<dt>Email</dt>
							<dd>
								<input type="text" name="email"/>
								<a href="#" onclick="OPAR.Global.ShowHelp('registration.email');" class="help">?</a>
								<input type="text" name="emailcheck"/> (repeat)
							</dd>
							
							<dt class="empty">&nbsp;</dt>
							<dd><%= CAPTCHA ESCAPE=0 %></dd>
	
							<dt class="empty">&nbsp;</dt>
							<dd class="right">
								<input type="submit" value="Register"/>
							</dd>
						</dl>
					</form>
				</div>
			</section>
