<section>
	<h1>Login</h1>
</section>

<section id="login">		
	<div>
            <p><a href="<%= __INDEX__ %>/registration">No Account yet? Register</a></p>
		<form action="<%= __SCRIPT__ %>/do_login" method="post">
	    <fieldset>
				<dl>
					<dt>Username</dt>
					<dd>
						<input type="text" name="user"/>
					</dd>
	
					<dt>Password</dt>
					<dd>
						<input type="password" name="password" /><br/>
						<a href="<%= __INDEX__ %>/registration/forgot_passwd">Forgot your password?</a>
					</dd>

					<dt class="empty">&nbsp;</dt>
					<dd class="right">
						<button type="submit" value="Log in">Log in</button>
					</dd>
				</dl>
			</fieldset>
		</form>
	</div>
</section>
