<html>
	<head>
		<title>OPAR</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css"/>
		<link rel="stylesheet" type="text/css" href="/css/form.css"/>
		<script type="text/javascript" src="/js/prototype.js"></script>

		<!--[if lte IE 8]>
		<script type="text/javascript" src="/js/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="outer">
	
			<header>
                                <h1>
                                        <a href="/" id="opar_head_link" class="home">OPAR - OTRS Package ARchive</a>
                                </h1>
				<p>
					Browseable collection of
					plugins for the popular OTRS software.
				</p>
                                <p class="right">
                                   Logged in as <%= __LOGGEDIN__ %>
                                   &nbsp;&nbsp;
                                   <a href="/logout"><img src="/img/logout.png" /></a>
                                </p>
			</header>
			
			<noscript>
			    <div class="message error">
			        JavaScript is disabled in your browser. To use all functions
			        of this website, please enable JavaScript.
			    </div>
			</noscript>
			

			<section class="menu">
				<ul>
					<li><a href="/author/package/upload">Upload a new opm file</a></li>
					<li><a href="/author/package/list">Package list</a></li>
					<li><a href="/author/profile">View/Edit your profile</a></li>
					<li><a href="/author/package/comments/">Administer the comments</a></li>
				</ul>
			</section>

			<%LOOP NOTIFICATIONS %>
			  <%INCLUDE_VAR include %>
			<%/LOOP %>
			<%INCLUDE_VAR BODY %>
			
			<footer>
				&copy; 2010 - 2013 by 
				<a href="/static/team">OPAR Team</a> --
				<a href="/static/imprint">Imprint</a> -
				<a href="/feedback">Feedback</a> -
				<a href="http://github.com/reneeb/OPAR/issues">Bugtracker</a>
			</footer>
	
		</div>
		<script type="text/javascript" src="/js/OPAR.Config.js"></script>
		<script type="text/javascript" src="/js/OPAR.Package.js"></script>
		<script type="text/javascript" src="/js/OPAR.User.js"></script>
		<script type="text/javascript">
		//<![CDATA[
		    OPAR.Config.Set('BaseURL', '/author/');
		//]]>
		</script>
	</body>
</html>
