<section>		
	<div>
		<form action="/search" method="post">
			<dl>
				<dt>Keywords</dt>
				<dd>
					<input type="text" id="query" name="search_term" />
				</dd>
	
				<dt>OTRS Framework</dt>
				<dd>
					<select name="framework">
                                            <option value="">-- all OTRS versions --</option>
                                            <%LOOP name="frameworks" %>
                                                <option value="<%= VERSION %>"><%= VERSION %></option>
                                            <%/LOOP %>
					</select>
				</dd>
	
				<dt class="empty">&nbsp;</dt>
				<dd class="right">
					<input type="submit" value="Search"/>
				</dd>
			</dl>
		</form>
	</div>
</section>

