/*
		This file is NOT a pure CSS file, but a CSS file with LESS macros.
		(see http://lesscss.org/ for details). It is possible to load
		this file directly from a HTML file, but not recommended
		(you have to add a JavaScript as well..), instead precompile this
		file to a pure CSS version using "lessp.pl" on the commandline.
		The Makefile in the same directory as this file does this for you :)
*/

@main-fontfamily: "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;

body, h1, h2, h3, input, 
textarea, a, div, p, span, form, 
header, section, footer {
	font-weight: 300;
	color: #333;
	font-size: 12pt;
	font-family: @main-fontfamily;
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	padding: 0 40px 40px;
	text-align: center;
}
	body > div {
		max-width: 700px;
		min-width: 560px;
		margin: 2em auto 4em;
		text-align: left;
	}

a {
	text-decoration: none;
	border-bottom: dotted 1px #39f;
	color: #06f;
	text-shadow: 0px 0px 10px #eee;
	font-size: inherit;
}
a:hover {
	color: #6cf;
	border-color: #6cf;
	text-shadow: 0px 0px 10px #ccc;
}

a.web {
	background: url(../img/icon-link.png) left top no-repeat;
	padding: 2px 0 4px 27px;
	border: none;
}
a.bugs {
	background: url(../img/icon-bugtracker.png) left top no-repeat;
	padding: 2px 0 4px 27px;
	border: none;
}
a.docs {
	background: url(../img/icon-document.png) left top no-repeat;
	padding: 2px 0 4px 26px;
	border: none;
}
a.help {
	background: url(../img/icon-question.jpg) left top no-repeat;
	padding: 2px 0 4px 26px;
	border: none;
	color: transparent;
	font-size: 100%;
}
a.home {
	border: none;
	color: inherit;
}
a.home:hover {
	background: url(../img/icon-home.png) right 6px no-repeat;
	padding: 2px 30px 4px 0;
}
a.back:before {
	content: "← ";
}

h1 {
	font-size: 200%;
}
	h1 span {
		font-size: 50%;
		display: block;
	}
	h1 emph {
		font-weight: bold;
	}

table {
	margin: 14px 0;
	border: solid 3px #bde;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	padding: 5px;
	border-spacing: 0;
	width: 100%;
}
	tr {
		
	}
		th, td {
			font-size: 80%;
			padding: 0.6em 1em;
			text-align: left;
		}
		th {
			color: #689;
		}
		td {
			border-top: solid 1px #ccc;
		}
		
		th:before,
		td:before {
			content: " ";
		}
		th:first-child,
		td:first-child {
			text-align: left;
		}
		th:last-child,
		td:last-child {
			text-align: right;
		}
		td:last-child {
			padding-right: 0.2em;
		}

header,
section,
footer {
	display: block;
	margin: 1em 0;	
	position: relative;
}

header {
	margin: 0 0 2em;
	background: url(img/logo.png) left 2px no-repeat;
}
	header h1 {
		padding: 0 0 10px 2px;
	}
	header p {
		border-top: solid 1px #333;
		font-size: 80%;
		background: #eee;
		padding: 0.6em 0.8em;
		-moz-border-radius: 0 0 0.4em 0.4em;
	}
	header form {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		color: #fff;
		border: solid 1px #333;
		padding: 0;
	}
		header form input {
			border: none;
			margin: 0;
			padding: 0.2em 0.3em;
			display: inline-block;
		}
		header form input[type="text"] {
			background: #fff;
		}
		header form input[type="submit"] {
			color: #fff;
			background: #666;
			padding-left: 0.6em;
			-moz-border-radius: 0.4em 0 0 0.4em;
			cursor: pointer;

			background: -moz-linear-gradient(100% 100% 90deg, #222, #777);
		}
		header form input[type="submit"]:hover {
			background: -moz-linear-gradient(100% 100% 90deg, #444, #999);
			-moz-box-shadow: 0 0 6px #666;
		}

section {

}
	section > h1 {
		font-size: 160%;
	}
	section > h2 {
		font-size: 140%;
	}
	section > div {
		display: block;
		margin: 0 0 1em 0;
		-moz-box-shadow: 0px 2px 10px 0px #666;
		border: solid 5px #eee;				
	}
		section > div > div {
			margin: 1em 1.1em;
		}
		
	section > p:first-child {
		margin-bottom: 0.4em;
	}

section.pages {
	
}
	section.pages span {
		padding-right: 0.6em;
	}
	section.pages a {
		
	}

section.message {

}
	section.message > div {
		-moz-border-radius: 1em;
		border-width: 2px;
		-moz-box-shadow: 0px 2px 10px 0px #ccc;
	}	
	section.message.ok > div {
		border-color: green;
		background: #efe;
	}
	section.message.error > div {
		border-color: red;
		background: #fee;
	}
		section.message > div > div {
			padding: 0.4em 0.5em 0.5em important;
		}
			section.message > div > div h4 {
				margin: 0 0 0.4em;
			}
			section.message.ok > div > div h4 {
				color: green;
			}
			section.message.error > div > div h4 {
				color: red;
			}
			section.message > div > div p {
				margin: 0.4em 0 0;
			}

section.menu {

}
	section.menu ul {
		margin: 0;
		padding: 0;
		list-style: empty;
	}
		section.menu ul li {
			margin: 0;
			padding: 0;
			list-style: empty;
			display: inline-block;
		}
			section.menu ul li a {
				padding: 0.4em 0.8em 0.5em;
				margin: 0;
				color: #333;
				border: solid 1px #333;
				border-width: 1px 1px 1px 0;
				-moz-box-shadow: 0 0 6px #ccc;
				text-decoration: none;
				font-size: 90%;
				text-decoration: none;
				display: inline-block;
				font-size: 100%;
				color: #689;
				text-align: center;
			}
			section.menu ul li:first-child a {
				border-left-width: 1px;
				-moz-border-radius: 0.6em 0 0 0.6em;
			}
			section.menu ul li:last-child a {
				-moz-border-radius: 0 0.6em 0.6em 0;
			}
			section.menu ul li:last-child:first-child a {
				-moz-border-radius: 0.6em;
			}
			section.menu ul li.current a,
			section.menu ul li a:hover {
				background: -moz-linear-gradient(100% 100% 90deg, #eee, #fff);
			}
			section.menu ul li.current a {
				font-weight: bold;
				text-shadow: -1px 1px #eee;
			}
			
section#entries {
	
}
	#entries > div {
		display: block;
		margin: 0 0 1em 0;
		-moz-box-shadow: 0px 2px 10px 0px #666;
		border: solid 5px #eee;		
	}
		#entries > div > div {
			padding: 0.9em 1.1em 1em;
		}
			#entries h2 {
				font-size: 120%;
				border: solid 1px #ddd;
				background: -moz-linear-gradient(0% 100% 0deg, #ddd, #fff);
				color: #666;
				padding: 0.4em 0.8em;
				margin: 1em -0.7em 1em -0.7em;
				-moz-border-radius: 0.4em; 0 0 0.4em;
			}

			#entries h3 {
				font-size: 16pt;
				padding-right: 20%;
				border-bottom: dotted 1px #333;
				padding-bottom: 0.4em;
			}
				#entries h3 > span {
					display: block;
					font-size: 70%;
					padding-top: 0.4em;
				}
				#entries h3 > emph {
					position: absolute;
					top: 14px;
					right: 14px;
					display: block;
					font-size: 50%;
					color: #666;
					padding-bottom: 1em;
				}
					#entries h3 > emph span {
						font-size: inherit;
						padding-left: 0.5em;
						font-weight: 400;
					}
			#entries p {
				font-size: 90%;
				margin: 1em 0 0;
			}

section#tabs {
	border-bottom: solid 1px #333;
	padding: 0 0.6em;
	margin-bottom: 3.4em;
}
	#tabs > a {
		display: inline-block;
		border: solid 1px #333;
		border-width: 1px 1px 0 1px;
		-moz-border-radius: 0.4em 0.4em 0 0;
		padding: 0.4em 0.8em;
		background: #fff;
		color: #333;
		font-size: 80%;
		margin: 0;
		vertical-align: bottom;
	}
	#tabs > a:hover {
		background: #333 !important;
		color: #fff;
	}
	#tabs > a.active {
		position: relative;
		top: 1px;
		font-size: 100%;
	}
	#tabs > a#articles {
		background: #ff9;
	}
	#tabs > a#elements {
		background: #fcf;
	}
	#tabs > a#tools {
		background: #9cf;
	}
	#tabs > a#designs {
		background: #fc9;
	}

	/*
	#subtabs {
		display: inline-block;
		margin: 0;
		padding: 0 0 0 0.3em;
		border: solid 1px #ccc;
		-moz-border-radius: 0.4em;
		background: #fff;
		position: absolute;
		top: 48px;
		left: 1em;
	}
		#subtabs a {
			padding: 0.4em 0.8em 0.4em 0.6em;
			border: none;
			font-size: 70%;
			border-right: solid 1px #ccc;
			display: inline-block;
		}
		#subtabs a:last-child {
			border: none;
		}
		#subtabs a.active {
			font-weight: 500;
			color: #333;
		}
	*/

section#packages {

}
	section#packages h2 {
		font-size: 16pt;
		border-bottom: dotted 1px #333;
		padding-bottom: 0.4em;
	}
		section#packages h2 span {
			border: solid 1px #ccc;
			padding: 0.3em 0.5em;
			display: inline-block;
			margin: 0 0.5em 0 0;
			font-size: 50%;
			vertical-align: top;
		}
		section#packages h2 a {
			font-size: 70%;
			border: none;
		}
		section#packages h2 a:nth-child(2) {
			font-size: 100%;
		}
		
	section#packages p:nth-child(2) {
		background: #eee;
		padding: 0.4em 0.7em;
		margin: 0 0 0.5em;
	}

section#package,
section#author,
section#register {

}
	section#package > div {
		border-color: #bde;
	}
	section#author > div {
		border-color: #bed;
	}
	section#register > div {
		border-color: #eef;
	}
	
	section form {
		margin: 0;
		padding: 0;
	}
	
	section dl {
		margin: 0.9em 16pt 1.2em;
	}
		section dl dt {
			font-size: 80%;
			color: #999;
		}
		section dl dt:after {
			content: ":";
		}
		section dl dt.empty:after {
			content: "";
		}
		section dl dd {
			position: relative;
			left: 15%;
			top: -1.2em;
			width: 80%;
			margin-bottom: -0.5em;
		}
		section dl dd:last-child {
			margin-bottom: -1.5em;
		}
		
		section form dl dt {
			border-top: dotted 1px #ccc;
			padding-top: 1.6em;
			font-size: 100%;
		}
		section form dl dt:first-child {
			border-top: none;
			padding-top: 1em;
		}
		section form dl dd {
			top: -1.4em;
			margin-bottom: 0em;
		}
			section form dl dd a {
				font-size: 80%;
			}

		section ul {
			padding: 2pt 0 0 12pt;
		}
			section ul li {
			
			}

section#comments {

}
	section#comments > div {
		-moz-border-radius: 1em;
	}

	section#comments h2 {
		font-size: 16pt;
		border-bottom: dotted 1px #333;
		padding-bottom: 0.4em;
		position: relative;
	}
		section#comments h2 span {
			font-size: 70%;
			color: #999;
		}
		section#comments h2 a {
			border: none;
		}
		section#comments h2 div {
			position: absolute;
			top: 0;
			right: 0;
		}
		
	section#comments p {
		margin-top: 0.5em;
	}

footer {
	clear: both;
	margin: 1em 0;
	font-size: 70%;
	text-align: right;
	border-top: solid 1px #ccc;
	padding-top: 1em;
	color: #666;
}

section form input[type="text"],
section form input[type="password"] {
	width: 80%;
	margin-bottom: 4pt;
	padding: 0.1em 0.2em;
}

section form input[type="submit"],
section form button {
	border: solid 2px #fff;
	background: -moz-linear-gradient(100% 100% 90deg, #222, #777);
	padding: 0.6em 1.2em;
	color: #fff;
	-moz-border-radius: 0.6em;
	-moz-box-shadow: 0 0 6px #666;
	text-decoration: none;
	font-size: 90%;
}
section form input[type="submit"]:hover,
section form button:hover {
	background: -moz-linear-gradient(100% 100% 90deg, #444, #999);
	cursor: pointer;
}

.button {
	background: -moz-linear-gradient(100% 100% 90deg, #222, #777);
	padding: 0.2em 0.5em 0.3em;
	color: #fff;
	-moz-border-radius: 0.6em;
	-moz-box-shadow: 0 0 6px #ccc;
	text-decoration: none;
	font-size: 90%;
	text-decoration: none;
	border: none;
}
.button.shallow {
	background: transparent;
	color: #333;
	border: solid 1px #333;
}
.button:hover {
	background: -moz-linear-gradient(100% 100% 90deg, #444, #999);
	cursor: pointer;
}
.button.shallow:hover {
	background: -moz-linear-gradient(100% 100% 90deg, #ccc, #fff);
}

.clear {
	float: none;
	clear: both;
}

.score-1,
.score-2,
.score-3,
.score-4,
.score-5 {
	display: inline-block;
	height: 15px;
	background: url(../img/icon-star.png) left top;
	margin-left: 0.4em;
}
.score-1 {
	width: 16px;
}
.score-2 {
	width: 32px;
}
.score-3 {
	width: 48px;
}
.score-4 {
	width: 64px;
}
.score-5 {
	width: 80px;
}

.right {
	text-align: right;
}

.kwalitee {
	width: 80px;
	height: 15px;
}

.green {
	font-size: 0.6em;
	background-color: green;
}

.yellow {
	font-size: 0.6em;
	background-color: yellow;
}

.orange {
	font-size: 0.6em;
	background-color: orange;
}

.red {
	font-size: 0.6em;
	background-color: red;
}
